    <header class="main-header-container"> <!-- Container grande -->
        <div class="container"> <!-- Container menor -->
            <h1> <!-- Titulo mais importante -->
                <!-- Hardcoded  -->
                <a class="main-logo" href="{%url 'recipes:home'%}"> <!-- link que aponta para home / -->
                    <i class="fas fa-utensils main-logo-icon"> </i> <!-- icone -->
                    <span class="main-logo-text">Recipes</span>
                </a>
            </h1>
        </div>
    </header>